* {
    margin: 0 auto;
}

@font-face {
    font-family: "pretendard-extrabold";
    src: url(./assets/fonts/Pretendard-ExtraBold.ttf);
}

@font-face {
    font-family: "pretendard-light";
    src: url(./assets/fonts/Pretendard-Light.ttf);
}

@font-face {
    font-family: "pretendard-medium";
    src: url(./assets/fonts/Pretendard-Medium.ttf);
}
