.Container {
    width: 100vw;
    min-width: 390px;
    height: 100vh;
    /* max-height: 640px; */
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    background-color:rgb(255, 227, 193);
    
}

.Container h2{
    /* padding-top: 80px; */
    text-align: center;
    font-family: "pretendard-extrabold";
}

.Container img {
    padding-bottom: 100px;
}

button {
    text-decoration: none;
    border: none;
    background-color: aquamarine;
    border-radius: 10px;
    padding: 10px 100px;
    cursor: pointer;
}

button span {
    font-family: "pretendard-extrabold";
}

@font-face {
    font-family: "pretendard-extrabold";
    src: url(../assets/fonts/Pretendard-ExtraBold.ttf);
}
