.Container {
    width: 100vw;
    min-width: 390px;
    height: 100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    background-color:rgb(255, 220, 235)
    
}


.Title {text-align: center;
        font-family: "pretendard-extrabold";
        position: fixed;
        top: 10%;
        }

.name {
    font-family: "pretendard-extrabold";
    position: fixed;
    top: 15%;
}

.desc {
    font-family: "pretendard-medium";
    padding: 50px 60px;
    line-height: 27px;
}

.descBox {
    width: 90%;
    margin-top: 30px;
    background-color: rgb(255, 242, 248);
    border-radius: 30px;
}